body{
  margin: 0;
  font-family: Comic Sans MS;
}
#left{
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 60%;
  margin: 0;
  background-color: white;
  border-right: 3px solid black;
  z-index: 1;
}
#right{
  left: 60%;
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 40%;
  margin: 0;
  background-color: white;
  overflow: scroll;
}
h1{
  margin: 0;
  margin-top: 20%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#txtHint{
  position: absolute;
  font-size: 20px;
  color: red;
  margin-left: 50%;
  margin-top: 36%;
}
#leftpane{
  position: absolute;
  font-size: 20px;
  margin-left: 30%;
  margin-top: 35%;
}
input{
  position: absolute;
  margin-left: 50%;
  margin-top: 35%;
}
button{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40%;
}
#rightpane1{
  height: auto;
  width: auto;
  margin: 20px;
  z-index: 2;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 3px;
}
#rightpane2{
  height: auto;
  width: auto;
  margin: 20px;
  background-color: lightgray;
  z-index: 2;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 3px;
}
#contain{
  margin-left: 30px;
}
#bg{
  font-weight: bold;
  background-color: forestgreen;
}
